/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #202225;
    padding: 20px 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #201e1e;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #ffffff;
}

/* Estilos para el formulario de inicio de sesión */
.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    background-color: #2f3136;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.card-title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    background-color: #202225;
    color: #ffffff;
}

.btn-primary {
    background-color: #7289da;
    border: none;
}

.btn-primary:hover {
    background-color: #677bc4;
}

.card-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #ffffff;
}
