/* Variables */
:root {
    --primary-color: #3498db; /* Azul */
    --secondary-color: #ffffff; /* Blanco */
    --tertiary-color: #e74c3c; /* Rojo */
    --text-color: #333; /* Gris oscuro */
    --bg-color: #f5f5f5; /* Gris claro */
    --border-radius: 6px;
  }
  
  /* General */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /* Header */
  header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: var(--secondary-color);
  }
  
  /* Side Navigation */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    padding-top: 60px;
    transition: width 0.3s;
    overflow-y: auto;
  }
  
  .sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
  }
  
  .selected {
    background-color: var(--primary-color);
    color: white;
  }
  
  .main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  /* Table Styling */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: var(--primary-color);
    color: white;
  }
  
  /* Form Styling */
  #formDatosUsuario {
    max-width: 400px;
    margin-top: 20px;
  }
  
  /* Footer */
  footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  

  /* Estilos para la tabla de servicios */
#tablaServicios {
    margin-top: 20px;
  }
  
  #tablaServicios table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tablaServicios th,
  #tablaServicios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #tablaServicios th {
    background-color: var(--primary-color);
    color: white;
  }
  
  /* Estilos para la tabla de reservas */
  #verReservas,
  #verBoletas {
    display: none;
    margin-top: 20px;
  }
  
  #verReservas table,
  #verBoletas table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #verReservas th,
  #verReservas td,
  #verBoletas th,
  #verBoletas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #verReservas th,
  #verBoletas th {
    background-color: var(--primary-color);
    color: white;
  }
  
  /* Estilos para el formulario de datos de usuario */
  #verDatosUsuario {
    display: block;
    margin-top: 20px;
  }
  
  #verDatosUsuario img {
    display: none;
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  #verDatosUsuario label,
  #verDatosUsuario input[type="text"],
  #verDatosUsuario input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  
  #verDatosUsuario input[type="button"] {
    padding: 8px 20px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  
  #verDatosUsuario input[type="button"]:hover {
    background-color: var(--secondary-color);
  }
  
  #verDatosUsuario {
    display: block;
    margin-top: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  #formDatosUsuario img {
    display: none;
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  #formDatosUsuario label,
  #formDatosUsuario input[type="text"],
  #formDatosUsuario input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  
  #formDatosUsuario input[type="button"] {
    padding: 8px 20px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  
  #formDatosUsuario input[type="button"]:hover {
    background-color: var(--secondary-color);
  }
  