body {
    font-family: Arial, sans-serif;
    background-color: #36393f; /* Color de fondo principal de Discord */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #36393f; /* Cambiado a un tono oscuro */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #36393f; /* Cambiado a un tono oscuro */
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #7289da; /* Cambiado a un tono de color Discord */
    color: #fff;
}

.btn-secondary {
    background-color: #677bc4; /* Cambiado a un tono de color Discord */
    color: #fff;
}

.btn-submit {
    background-color: #43b581; /* Cambiado a un tono de color Discord */
    color: #fff;
}

.error-message {
    color: red;
    margin-top: 8px;
}

.error-message-red {
    color: red;
    margin-top: 10px;
}
.back-to-login {
    text-decoration: none;
    background-color: #43b581; /* Cambiado a un tono de color Discord */
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.mr-2 {
    margin-right: 0.5rem;
}