/* Variables */
:root {
    --primary-color: #3498db; /* Azul */
    --secondary-color: #ffffff; /* Blanco */
    --tertiary-color: #e74c3c; /* Rojo */
    --text-color: #333; /* Gris oscuro */
    --bg-color: #f5f5f5; /* Gris claro */
    --border-radius: 6px;
  }
  
  /* General */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /* Header */
  header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: var(--secondary-color);
  }
  
  /* Side Navigation */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    padding-top: 60px;
    transition: width 0.3s;
    overflow-y: auto;
  }
  
  .sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
  }
  
  .selected {
    background-color: var(--primary-color);
    color: white;
  }
  
  .main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  /* Table Styling */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: var(--primary-color);
    color: white;
  }
  
  /* Form Styling */
  #formDatosUsuario {
    max-width: 400px;
    margin-top: 20px;
  }
  
  /* Footer */
  footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  


  #confirmarEntrega {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#confirmarEntrega h2 {
    color: var(--text-color);
    font-size: 1.8em;
    margin-bottom: 10px;
}

#confirmarEntrega form {
    margin-bottom: 20px;
}

#confirmarEntrega label {
    color: var(--text-color);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#confirmarEntrega input[type="date"],
#confirmarEntrega select {
    width: calc(100% - 22px);
    padding: 8px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#confirmarEntrega button {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--primary-color);
}

#confirmarEntrega button:hover {
    background-color: var(--tertiary-color);
}


#verOrdenesPedido {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#verOrdenesPedido h2 {
    color: var(--text-color);
    font-size: 1.8em;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.table thead {
    background-color: var(--primary-color);
    color: white;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.table th:first-child,
.table td:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.table th:last-child,
.table td:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}


#registrarProducto {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

#registrarProducto h2 {
    color: var(--text-color);
    font-size: 1.8em;
    margin-bottom: 20px;
}

#formularioProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formularioProducto label,
#formularioProducto input[type="text"],
#formularioProducto input[type="submit"] {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

#formularioProducto input[type="text"],
#formularioProducto input[type="submit"] {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

#formularioProducto input[type="text"]:focus,
#formularioProducto input[type="submit"]:hover {
    outline: none;
    border-color: var(--primary-color);
}

#mensajeError {
    color: rgb(241, 0, 0);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-top: 20px;
    text-align: center;
}
