/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #36393f; /* Color de fondo principal */
    color: #ffffff; /* Color del texto principal */
}

header {
    background-color: #2f3136; /* Color de fondo para el encabezado */
    color: #ffffff; /* Color del texto en el encabezado */
    padding: 10px 0;
    text-align: center;
}

.navbar-brand {
    color: yellow;

    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #ffffff; /* Color de enlaces en el encabezado */
    margin-right: 20px;
}

/* Estilos para el menú lateral */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3136; /* Color de fondo para el menú lateral */
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 5px solid #ffc107; /* Borde amarillo */
}

.sidenav a {
    padding: 10px 20px; /* Ajuste de relleno */
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    border-bottom: 1px solid #000000; /* Línea separadora negra */
}

.sidenav a:first-child {
    border-top: 1px solid #000000; /* Línea separadora negra para el primer elemento */
}

.sidenav a:hover {
    background-color: #677bc4; /* Color de fondo al pasar el mouse */
}

.sidenav .cerrar-sesion {
    margin-top: 20px;
}

/* Estilos para el contenido principal */
.main {
    margin-left: 220px;
    padding: 20px;
    background-color: #36393f; /* Color de fondo para el contenido principal */
    color: #ffffff; /* Color del texto en el contenido principal */
}





/* Estilos para el formulario de confirmación de entrega */
#confirmarEntrega {
    display: none;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid #72767d;
    border-radius: 8px;
    background-color: #36393f;
    max-width: 600px;
    margin: 0 auto;
}

#confirmarEntrega h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 30px;
}

#formConfirmarEntrega label {
    display: block;
    margin-bottom: 15px;
    color: #ffffff;
}

#formConfirmarEntrega input[type="date"],
#formConfirmarEntrega select {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #72767d;
    border-radius: 5px;
    background-color: #202225;
    color: #ffffff;
}

#formConfirmarEntrega button {
    background-color: #5865f2;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formConfirmarEntrega button:hover {
    background-color: #6e86d6;
}


/* Estilos para la tabla de órdenes de pedido */
#verOrdenesPedido {
    display: none;
    padding: 30px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #36393f;
    max-width: 90%;
    margin: 0 auto;
}

#verOrdenesPedido h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 30px;
}

.table {
    border-radius: 15px;
    overflow: hidden;
}

.table thead th {
    background-color: #5865f2;
    color: #ffffff;
    border: none;
}

.table tbody tr {
    background-color: #202225;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #2f3136;
}



/* Estilos para el formulario de registro de productos */
#registrarProducto {
    display: none;
    padding: 30px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #36393f;
    max-width: 60%;
    margin: 0 auto;
}

#registrarProducto .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #2f3136;
    color: #ffffff;
    padding: 30px;
}

#registrarProducto h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 30px;
}

#formularioProducto label {
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
}

#formularioProducto input[type="text"],
#formularioProducto input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #202225;
    color: #ffffff;
}

#formularioProducto input[type="submit"] {
    background-color: #5865f2;
    border: none;
    cursor: pointer;
}

#formularioProducto input[type="submit"]:hover {
    background-color: #454dfe;
}

/* Estilos para los datos del usuario */
#verDatosUsuario {
    display: none;
    margin-top: 30px;
    padding: 20px;
    background-color: #36393f;
    border-radius: 15px;
}

#verDatosUsuario h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

#datosUsuarioDiv {
    background-color: #2f3136;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los datos mostrados */
#datosUsuarioDiv span {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

#datosUsuarioDiv strong {
    color: #ffffff;
    font-weight: bold;
}
