body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #36393f; /* Color de fondo principal */
    color: #ffffff; /* Color del texto principal */
}

header {
    background-color: #2f3136; /* Color de fondo para el encabezado */
    color: #ffffff; /* Color del texto en el encabezado */
    padding: 10px 0;
    text-align: center;
}

.navbar-brand {
    color: yellow;

    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #ffffff; /* Color de enlaces en el encabezado */
    margin-right: 20px;
}

/* Estilos para el menú lateral */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3136; /* Color de fondo para el menú lateral */
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 5px solid #ffc107; /* Borde amarillo */
}

.sidenav a {
    padding: 10px 20px; /* Ajuste de relleno */
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    border-bottom: 1px solid #000000; /* Línea separadora negra */
}

.sidenav a:first-child {
    border-top: 1px solid #000000; /* Línea separadora negra para el primer elemento */
}

.sidenav a:hover {
    background-color: #677bc4; /* Color de fondo al pasar el mouse */
}

.sidenav .cerrar-sesion {
    margin-top: 20px;
}

/* Estilos para el contenido principal */
.main {
    margin-left: 220px;
    padding: 20px;
    background-color: #36393f; /* Color de fondo para el contenido principal */
    color: #ffffff; /* Color del texto en el contenido principal */
}




/* Estilos para la tabla */
#tablaBoletas {
    border-collapse: collapse;
    width: 100%;
  }
  
  #tablaBoletas th,
  #tablaBoletas td {
    border: 1px solid #b9a5a5;
    padding: 8px;
  }
  
  #tablaBoletas th {
    background-color: #291a1a;
  }
  
  .editar-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #7289da;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .editar-btn:hover {
    background-color: #5f73bc;
  }

  



  .card {
    display: none;
    background-color: #2f3136;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #ffffff;
}

/* Estilos para los inputs y botones dentro del formulario */
.card input[type="text"],
.card input[type="number"],
.card button {
    padding: 8px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    background-color: #40444b;
    color: #ffffff;
    cursor: pointer;
}

.card input[type="text"]::placeholder,
.card input[type="number"]::placeholder {
    color: #b9bbbe;
}

.card button:hover {
    background-color: #7289da;
}




  /* Estilos para el formulario */
  #formularioEdicion {
    margin-top: 20px;
  }
  
  #formularioEdicion label {
    display: block;
    margin-bottom: 5px;
  }
  
  #formularioEdicion input[type="text"],
  #formularioEdicion button {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  #formularioEdicion button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #formularioEdicion button:hover {
    background-color: #5f73bc;
  }
  

  #agregarNuevoServicio {
    width: 500px; /* Ajusta el ancho según lo necesites */
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #202225;
}

#agregarNuevoServicio h2 {
    text-align: center;
}

#formularioNuevoServicio label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* Tamaño de letra para los labels */
}

#formularioNuevoServicio input[type="text"],
#formularioNuevoServicio input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #72767d;
    border-radius: 3px;
    background-color: #36393f;
    color: white;
    font-size: 16px; /* Tamaño de letra para los inputs */
}

#formularioNuevoServicio button {
    background-color: #7289da;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px; /* Tamaño de letra para el botón */
}

#formularioNuevoServicio button:hover {
    background-color: #677bc4;
}
#tablaServicios {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #tablaServicios th,
  #tablaServicios td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  #tablaServicios th {
    background-color: #533838;
  }
  

  
  #tablaServicios .editar-servicio-btn,
  #tablaServicios .eliminar-servicio-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  #tablaServicios .editar-servicio-btn {
    background-color: #3498db;
    color: white;
  }
  
  #tablaServicios .eliminar-servicio-btn {
    background-color: #e74c3c;
    color: white;
  }
  

  #formularioEdicionServicio {
    display: none;
    background-color: #2f3136;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #ffffff;
}

/* Estilos para los inputs y botones dentro del formulario */
#formularioEdicionServicio input[type="text"],
#formularioEdicionServicio button {
    padding: 8px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    background-color: #40444b;
    color: #ffffff;
    cursor: pointer;
}

#formularioEdicionServicio input[type="text"]::placeholder {
    color: #b9bbbe;
}

#formularioEdicionServicio button:hover {
    background-color: #7289da;
}


